<h3>Profile Status: Success</h3>
<p>
    Dear {{ name }}!
</p><p>
    Congratulations!</p><p>. Your profile has been successfully reviewed and Approved.</p>
<p> An account will be created for you on the PRISK online Portal and we will send you an email with login instructions.
</p>
<p>
    Thank you!
</p><p>

    --PRISK Team
</p><p>
    {# Makes an absolute URL to the loko/images/PRISK_Logo_v_2.2_website.png file #}
    <img src="{{ absolute_url(asset('loko/images/PRISK_Logo_v_2.2_website.png')) }}">
<hr/>
Note: This is a system generated mail. Please do NOT reply to it.
</p>